<div class="title">{{{t.bem-vindo}}}</div>

<div id="flags" class="w3-navbar w3-right w3-border-0 w3-transparent"
                style="position:absolute;top:0;right:5px;z-index: 2;">
  {{navFlags lang PROJ_ROOT}}
</div>

<div id="navbar" class="w3-btn-group w3-right">
  <a name="home" href="javascript:showContent('home');"
     class="w3-btn w3-small w3-indigo w3-border-red w3-hover-border-green
            w3-text-white w3-round-xxlarge w3-text-shadow">{{{t.navHome}}}</a>
  <a name="contact" href="javascript:showContent('contact');"
     class="w3-btn w3-small w3-indigo w3-border-red w3-hover-border-green
            w3-text-white w3-round-xxlarge w3-text-shadow">{{{t.navContact}}}</a>
  <a name="about" href="javascript:showContent('about');"
     class="w3-btn w3-small w3-indigo w3-border-red w3-hover-border-green
            w3-text-white w3-round-xxlarge w3-text-shadow">{{{t.navAbout}}}</a>
</div>
