<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <link rel="alternate" href="http://{{targetSite}}" hreflang="x-default" />
  <link rel="alternate" href="{{targetSite}}/pt" hreflang="pt" />
  <link rel="alternate" href="{{targetSite}}/es" hreflang="es" />
  <link rel="alternate" href="{{targetSite}}/en" hreflang="en" />
  <link rel="alternate" href="{{targetSite}}/fr" hreflang="fr" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
  <title>Pousada Nossa Praia</title>
  <meta name="description" content="Pousada Nossa Praia">
  <meta lang="{{lang}}">
  <!-- <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> -->
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
  <script type="text/javascript" src="/assets/js/lodash.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/tether.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/tether.min.css">
</head>

<body>
  <!-- different headers for <= small and >= medium devices  -->
  <div id="header" class="header">
    {{> headerSmall}}
    {{> headerLarge}}
  </div>

  <div id="content" class="content">
    <div class="dropdown-menu dropdown-menu-left"
        id="menu-dropdown" aria-labelledby="btn-menu-dropdown">
      {{navSections lang PROJ_ROOT true}}
    </div>
    <div class="dropdown-menu dropdown-menu-right"
         id="flags-dropdown" aria-labelledby="btn-flags-dropdown">
      {{navFlags lang PROJ_ROOT true}}
    </div>
    <!-- use <div> instead of <section> for compability -->
    <!-- lazy loading of sections by showContent(id) when needed -->
    <div id="home" class="section section-empty"></div>
    <div id="contact" class="section section-empty"></div>
    <div id="about" class="section section-empty"></div>
    <!-- <i class="fa fa-spinner fa-spin content-spinner"></i> -->
  </div>

  <div id="footer" class="footer"></div>


  <script charset="utf-8">
  $(document).ready(function() {
    $("#footer").load("/{{lang}}/footer.html", function() {});
    showContent("home");
  })

  var showContent = function(section) {
    var sectionElement = $("#" + section);
    // need to load the section ?
    if (sectionElement.hasClass("section-empty")) {
      console.log("LOADING section "+section);
      sectionElement.load("/{{lang}}/"+section+".html", function(response, status, xhr) {
        if (status === "error") {
          console.log("ERROR loading section "+section+": "+xhr.status+" "+xhr.statusText);
          return false;
        }
        sectionElement.removeClass("section-empty");
        console.log("LOADED section "+section);
        showContent(section);
        return true;
      })
    } else {
      // section has been loaded
      console.log("SHOWING section "+section);
      $("#content .section:visible").hide();  // hide actual visible section
      sectionElement.css({display:"block"}); // show this

      // mark as active in header navbar
      $("#navbar a").removeClass("active");  // clear previous
      $("#navbar a[name="+section+"]").addClass("active");

      // TODO set last update date in footer
    }
  }

  // toggle menus from headerSmall (appear in #content)
  $("#btn-menu-dropdown").on('show.bs.dropdown', function () {
    $("#menu-dropdown").show(300);
  });
  $("#btn-menu-dropdown").on('hide.bs.dropdown', function () {
    $("#menu-dropdown").hide(300);
  });
  $("#btn-flags-dropdown").on('show.bs.dropdown', function () {
    $("#flags-dropdown").show(300);
  });
  $("#btn-flags-dropdown").on('hide.bs.dropdown', function () {
    $("#flags-dropdown").hide(300);
  });

  </script>
</body>
</html>
